*{
    padding : 0;
    margin  : 0;
}

canvas{
    height : 1vh;
    width  : 75vw;

}

.dashboard-row{
    display         : flex;
    height          : 40vh;
    justify-content : center;
    padding-top     : 2%;
    padding-bottom  : 0;
}

.dashboard-chart{
    background     : rgba(255, 255, 255, 1);
    border         : 5px solid darkblue;
    height         : 30vh;
    margin-left    : auto;
    margin-right   : auto;
    padding: 0.5% .5% 2% .5%;
    overflow       : hidden;
    width          : 45vw;
}