{%  extends 'base.html' %}

{% load static %}

{% block css_files  %}

{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="title">Sales Representatives</h1>
        <div class="links">
            <p id="team_quota"></p>
        </div>
        <div id="table_div">
            <table class="table" id="sales_rep_table">
                <thead>
                    <tr>
                        <th class="">role</th>
                        <th class="">first name</th>
                        <th class="">last name</th>
                        <th class="">email</th>
                        <th class="">quota</th>
                        <th class="">updated</th>
                    </tr>
                </thead>
                <tbody id="table_body">
                    {% for sales in sales_reps %}


                    {% empty %}
                        <tr>
                            <td colspan="7">No Sales Representatives Assigned</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    {{ sales_reps|json_script:"sales_rep_data" }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="module" src="{% static 'js/sales_reps/js/sales_rep_table.js' %}"></script>
{% endblock %}