{%  extends 'base.html' %}

{% load static %}

{% block css_files  %}

{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="title">New Appointment</h1>
        <div class="links">
            <a href="{% url 'apps.appointments:new_appointment'%}">New Appointment</a>
        </div>
        <div id="table_div">
            <table class="table">
                <thead>
                    <tr>
                        <th class="">time</th>
                        <th class="">date</th>
                        <th class="">type</th>
                        <th class="">title</th>
                        <th class="">sales rep</th>
                        <th class="">edit</th>
                    </tr>
                </thead>
                <tbody id="table-body"></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    {{ appointments|json_script:"appointments_data" }}
    <script type="module" src="{% static 'js/appointments/appointment_table.js' %}"></script>
{% endblock %}