{%  extends 'base.html' %}

{% load static %}

{% block css_files  %}

{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="title">new customer</h1>
            <div class="links">
                <a href="{% url 'apps.customer:customers' %}">Back to Customer</a>
            </div>
       <div class="form-col-container">
           <div class="form-column">

           </div>
            <div class="form-column">
                <form class="form-med" method="POST" action="{% url 'apps.customer:new_customer' %}">
                     <div class="form-group">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                         {% if form.errors.name %}

                             <p class="errors" id="name_error_message">{{ form.errors.name.0 }}</p>

                         {% else %}

                             <p class="errors" id="name_error_message"></p>

                         {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.vertical.label_tag }}
                        {{ form.vertical }}
                        {% if form.errors.vertical %}

                            <p class="errors" id="vertical_error_message">{{ form.errors.vertical.0 }}</p>

                        {% else %}

                            <p class="errors" id="vertical_error_message"></p>

                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.sales_rep.label_tag }}
                        {{ form.sales_rep }}
                        {% if form.errors.sales_rep %}

                            <p class="errors" id="vertical_error_message">{{ form.errors.sales_rep.0 }}</p>

                        {% else %}

                            <p class="errors" id="sales_rep_error_message"></p>

                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.sales_engineer.label_tag }}
                        {{ form.sales_engineer }}
                        {% if form.errors.sales_engineer %}

                            <p class="errors" id="vertical_error_message">{{ form.errors.sales_engineer.0 }}</p>

                        {% else %}

                            <p class="errors" id="sales_eng_error_message"></p>

                        {% endif %}
                    </div>
                    <div class="form-group-textarea">
                        {{ form.notes.label_tag }}
                        {{ form.notes }}
                        {% if form.errors.notes %}

                            <p class="errors" id="vertical_error_message">{{ form.errors.notes.0 }}</p>

                        {% else %}

                            <p class="errors" id="notes_error_message"></p>

                        {% endif %}
                    </div>
                    <div class="submit">
                        {% csrf_token %}
                        <button id="save">Save</button>
                    </div>
                </form>
            </div>
           <div class="form-column">
           </div>
       </div>
    </div>
{% endblock %}

{% block page_scripts %}
    {{ sales_eng|json_script:"sales_eng" }}
    <script type="module" src="{% static 'js/validation.js' %}"></script>
    <script type="module" src="{% static 'js/customer/new_customer.js' %}"></script>
{% endblock %}